h1 {
    color: blue;
    size: 4px;
}

img {
    border-width: 10px;
    border-style: dashed;
    border-color: blue;
    padding: 5px;
}

p {
    color: red;
    font: Arial;
    padding: 20px;
}

ul {
    color: red;
    
}



a {
    color: red;
}

q {
    color: purple;
    padding-bottom: 10px;
}

.background{
    background-color: yellow;
}
